{% include 'header.njk' %}

<section class="mainBanner">
    <h1 class='container'>1000 Задач</h1>
    <div class='back'>
</section>
<main>
    <section class="content">
        <h3>О чем сайт?</h3>
        <p>Сайт, посвященный 1000 задачам по программированию, предлагает обучение и совершенствование навыков в
            уникальном
            формате. На сайте материалы организованы по категориям, что делает
            обучение более
            эффективным. Здесь вы найдете задачи для любого уровня - от начинающих до профессионалов. </p>
        <p>Приходите и
            получайте новые
            знания и навыки каждый день!</p>

        <h5>Begin: Ввод и вывод данных<br> группа присваивания </h5>
        <p>Группа присваивания - один из основных блоков программирования и используется во многих языках. Задачи этой
            группы
            помогают понять и научиться работать с основными конструкциями языка, которые позволяют присваивать значения
            переменным,
            проводить математические операции и манипулировать данными.</p>
        <p> Решение задач на присваивание помогает освоить
            основы
            программирования и подготовиться к работе с более сложными задачами. Наш сайт предоставляет доступ к
            большому количеству
            задач по группе присваивания на различных языках программирования. Присоединяйтесь и научитесь работать с
            этой важной
            конструкцией языка!</p>
        <p><b>Все входные и выходные данные в заданиях являются вещественными числами</b></p>
        <h5>begin <a href="begin"><span class="h5__span">все задачи</span></a></h5>
        <ol>
            <li><a href="/tasks/begin/begin1/ ">begin1</a></li>
            <li><a href="/tasks/begin/begin2/">begin2</a></li>
            <li><a href="/tasks/begin/begin3/">begin3</a></li>

            <li><a href="/tasks/begin/begin4/">begin4</a></li>
            <li><a href="/tasks/begin/begin5/">begin5</a></li>
            <li><a href="/tasks/begin/begin6/">begin6</a></li>
            <li><a href="/tasks/begin/begin7/">begin7</a></li>
            <li><a href="/tasks/begin/begin8/">begin8</a></li>
            <li><a href="/tasks/begin/begin9/">begin9</a></li>
            <li><a href="/tasks/begin/begin10/">begin10</a></li>
            <li><a href="/tasks/begin/begin11/">begin11</a></li>
            <li><a href="/tasks/begin/begin12/">begin12</a></li>
            <li><a href="/tasks/begin/begin13/">begin13</a></li>
            <li><a href="/tasks/begin/begin14/">begin14</a></li>
            <li><a href="/tasks/begin/begin15/">begin15</a></li>
            <li><a href="/tasks/begin/begin16/">begin16</a></li>
            <li><a href="/tasks/begin/begin17/">begin17</a></li>
            <li><a href="/tasks/begin/begin18/">begin18</a></li>
            <li><a href="/tasks/begin/begin19/">begin19</a></li>
            <li><a href="/tasks/begin/begin20/">begin20</a></li>
            <li><a href="/tasks/begin/begin21/">begin21</a></li>
            <li><a href="/tasks/begin/begin22/">begin22</a></li>
            <li><a href="/tasks/begin/begin23/">begin23</a></li>
            <li><a href="/tasks/begin/begin24/">begin24</a></li>
            <li><a href="/tasks/begin/begin25/">begin25</a></li>
            <li><a href="/tasks/begin/begin26/">begin26</a></li>
            <li><a href="/tasks/begin/begin27/">begin27</a></li>
            <li><a href="/tasks/begin/begin28/">begin28</a></li>
            <li><a href="/tasks/begin/begin29/">begin29</a></li>
            <li><a href="/tasks/begin/begin30/">begin30</a></li>
            <li><a href="/tasks/begin/begin31/">begin31</a></li>
            <li><a href="/tasks/begin/begin32/">begin32</a></li>
            <li><a href="/tasks/begin/begin33/">begin33</a></li>
            <li><a href="/tasks/begin/begin34/">begin34</a></li>
            <li><a href="/tasks/begin/begin35/">begin35</a></li>
            <li><a href="/tasks/begin/begin36/">begin36</a></li>
            <li><a href="/tasks/begin/begin37/">begin37</a></li>
            <li><a href="/tasks/begin/begin38/">begin38</a></li>
            <li><a href="/tasks/begin/begin39/">begin39</a></li>
            <li><a href="/tasks/begin/begin40/">begin40</a></li>
        </ol>

    </section>
    <section class="banner"><img src="./src/img/banner.png" alt="Скулбокс">
    </section>
</main>


{% include 'footer.njk'%}
