{% include 'header.njk' %}

<section class="mainBanner">
    <h1 class='container'>Наши проекты</h1>
    <div class='back'>
</section>
<main>
    <section class="content">
        <div class="ourProjectWrapper">
            <a class='ourProjectButton mainOur' href="http://">Наш сайт <img src="../src/img/linkButton.svg" alt=""></a>
            <a class='ourProjectButton' href="http://">Utilites <img src="../src/img/linkButton.svg" alt=""></a>
            <a class='ourProjectButton' href="http://">Календарь игр <img src="../src/img/linkButton.svg" alt=""></a>
            <a class='ourProjectButton' href="http://">1000 задач <img src="../src/img/linkButton.svg" alt=""></a>
            <a class='ourProjectButton currentOur' href="/">1000 задач <img src="../src/img/linkButton.svg" alt=""></a>
        </div>
    </section>





</main>


{% include 'footer.njk'%}