<footer>
    <div class="footerWrapper container">
        <div class="logo">1000 Задач</div>
        <div class="footer__links">
            <a class="footer__link" href="/adv">Для рекламодателей</a>
            <a class="footer__link" href="/ourProject">Другие наши проекты</a>
        </div>
        <div class="footer__mark">@dert</div>
    </div>
    <script src="../../../src/js/script.js"></script>
</footer>
</body>

</html>
